import /init.recovery.qcom_decrypt.rc

on early-init
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/apr_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

	
on boot
    setprop sys.usb.config adb
	start health-hal-2-1
# We need vold early for metadata encryption
on early-fs
    start vold
	
on late-fs
   … 
    # Wait for keymaster
    exec_start wait_for_keymaster

    # Mount RW partitions which need run fsck
    mount_all /vendor/etc/fstab.qcom --late
	
on init
	setprop prepdecrypt.loglevel 2
	setprop prepdecrypt.setpatch true
	
on property
	prepdecrypt.system_mounted
	prepdecrypt.vendor_mounted
#	(1 = mounted, 0 = unmounted)